<%= form_for @user, :html => {:class => 'form-horizontal'}  do |f| %>
  <div class="form-group">
    <%= f.label :apellido_paterno, 'Apellidos y nombres', class: 'col-md-2' %>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-2">
          <%= f.select :abreviacion, options_for_abreviacion(),
           {:prompt => 'Selecciona'},{ :class => 'form-control' } %>
          <p class="help-block error_notice">
            <%= f.object.errors[:abreviacion].join(", ")%>
          </p>          
        </div>
        <div class="col-md-3">
          <%= f.text_field :apellido_paterno, class: 'form-control', placeholder: 'Apellido paterno' %>
          <p class="help-block error_notice">
            <%= f.object.errors[:apellido_paterno].join(", ")%>
          </p>          
        </div>
        <div class="col-md-3">
          <%= f.text_field :apellido_materno, class: 'form-control', placeholder: 'Apellido materno' %>
          <p class="help-block error_notice">
            <%= f.object.errors[:apellido_materno].join(", ")%>
          </p>          
        </div>
        <div class="col-md-4">
          <%= f.text_field :nombres, class: 'form-control', placeholder: 'Nombres' %>
          <p class="help-block error_notice">
            <%= f.object.errors[:nombres].join(", ")%>
          </p>          
        </div>
      </div>
    </div>    
  </div>
  <div class="form-group">
    <%= f.label :dni, 'DNI', class: 'col-md-2' %>
    <div class="col-md-5">
      <%= f.text_field :dni, class: 'form-control'%>
      <p class="help-block error_notice">
        <%= f.object.errors[:dni].join(", ")%>
      </p>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, 'Email', class: 'col-md-2' %>
    <div class="col-md-5">
      <%= f.email_field :email, class: 'form-control'%>
      <p class="help-block error_notice">
        <%= f.object.errors[:email].join(", ")%>
      </p>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sexo, 'Sexo', class: 'col-md-2' %>
    <div class="col-md-5">
      <%= f.select :sexo, ['MASCULINO','FEMENINO'],
           {:prompt => 'Selecciona...'},{ :class => 'form-control' } %>
      <p class="help-block error_notice">
        <%= f.object.errors[:sexo].join(", ")%>
      </p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :color,'Color', class: 'col-md-2' %>
    <div class="col-lg-10">
      <%= f.select :color, color_picker_colors(),{},
      {id: 'colorpicker', class:'form-control'} %>
      <p class="help-block error_notice">
        <%= f.object.errors[:color].join(", ")%>
      </p>
    </div>  
  </div>
  
  <div class="form-group">
    <%= f.label :superadmin,'¿Superadmin?', class: 'col-md-2' %>
    <div class="col-md-10">
      <label class="radio-inline">
        <%= f.radio_button :superadmin, true,  class: 'multiple_classes'%> SI
      </label>
      <label class="radio-inline">
        <%= f.radio_button :superadmin, false,  class: 'multiple_classes'%> NO
      </label>
      <p class="help-block error_notice"><%= f.object.errors[:superadmin].join(", ")%></p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :admin,'¿Admin?', class: 'col-md-2' %>
    <div class="col-md-10">
      <label class="radio-inline">
        <%= f.radio_button :admin, true,  class: 'multiple_classes'%> SI
      </label>
      <label class="radio-inline">
        <%= f.radio_button :admin, false,  class: 'multiple_classes'%> NO
      </label>
      <p class="help-block error_notice"><%= f.object.errors[:admin].join(", ")%></p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :doctor,'¿Doctor?', class: 'col-md-2' %>
    <div class="col-md-10">
      <label class="radio-inline">
        <%= f.radio_button :doctor, true,  class: 'multiple_classes'%> SI
      </label>
      <label class="radio-inline">
        <%= f.radio_button :doctor, false,  class: 'multiple_classes'%> NO
      </label>
      <p class="help-block error_notice"><%= f.object.errors[:doctor].join(", ")%></p>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :deshabilitado,'¿Deshabilitado?', class: 'col-md-2' %>
    <div class="col-lg-10">
      <label class="radio-inline">
        <%= f.radio_button :deshabilitado, true,  class: 'multiple_classes'%> 
          SI
      </label> 
      <label class="radio-inline"> 
        <%= f.radio_button :deshabilitado, false,  class: 'multiple_classes'%> NO
      </label>
      <p class="help-block" id="error_notice"><%= f.object.errors[:deshabilitado].join(", ")%></p>
    </div>
  </div> 

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= button_tag(type: "submit", class: "btn btn-info") do %>
        <i class="fa fa-check"></i> Guardar
      <% end %>
      <%if action_name == 'edit'%>
        <%= link_to(user_reset_password_path(@user), :class => 'btn btn-danger',
        method: :post, :confirm => "Se cambiara la contraseña al DNI #{@user.dni}") do %>
            <i class="fa fa-pencil"> Resetear contraseña</i>
        <% end %>
      <% end %>         
    </div>
  </div>
<%end%>  
